<% layout('layouts/boilerplate') %>

<section class="my-8">
    <% for (let post of posts) { %> 
        <%- include('../partials/post', {post, dayjs}) %>
    <% } %>
</section>

<script src="js/posts.js"></script>